<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link href="/css/dispositivo.css" rel="stylesheet" />
	<title>Dispositivo</title>
</head>
<body>
	<div class="col">
  		<h1>Estacionamiento</h1>
	</div>
	<div class="container col-10" id="myTable">
  		<div class="col-12">
    	<h2> </h2>
  	</div>

  	<table class="table table-stripped table-bordered">
    	<thead class="table-dark">
      		<tr align="center">
        		<th scope="col">Id</th>
        		<th scope="col">Estacionamiento</th>
        		<th scope="col">Cantidad de plazas</th>
        		<th scope="col">Activo</th>
        		<th scope="col">Estados de plazas</th>
        		<th scope="col">Acciones</th>
      		</tr>
    	</thead>
    	<tbody>
     	 	<tr th:each="estacionamiento: ${estacionamientos}"  align="center">
        		<td th:text="${estacionamiento.id}"></td>
        		<td th:text="${estacionamiento.nombre}"></td>
        		<td th:text="${estacionamiento.tam}"></td>
        		<td th:text="${estacionamiento.activo}"></td>
        		<td th:text="${#lists.toList(estacionamiento.plazas)}"></td>
        		<td>
                     <form th:action="@{/dispositivo/estacionamiento/bajaLogica}" method="post">
                      <input type="hidden" name="id" th:value="${estacionamiento.id}" /> 
                       <button type="submit" class="btn eliminar-btn">Eliminar</button>
                     </form>
        		<td>
      		</tr>
    	</tbody>
  	</table>
  	<div  align="center">
		<a th:href="@{estacionamiento/new}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Agregar Estacionamiento</a>
	</div>
	<br>
  	<div class="row">
            <div class="col">
                <h2>Mediciones</h2>
                <table class="table table-stripped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Dispositivo Vinculado</th>  
                            <th scope="col">Estado actual</th>               
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="estacionamiento: ${estacionamientos}">
                            <td>
                                <ul>
                                    <li th:each="medicion : ${estacionamiento.mediciones}" th:utext="${medicion.idMedicion}"></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li th:each="medicion : ${estacionamiento.mediciones}" th:utext="${medicion.fechaRegistro}"></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li th:each="medicion : ${estacionamiento.mediciones}" th:utext="${medicion.dispositivo.id}"></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li th:each="medicion : ${estacionamiento.mediciones}" th:utext="${medicion.estadoActual}"></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  	<!--<div  align="center">
		<a th:href="@{plazas}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Ver plazas</a>
	</div>-->
	
	
	</div>
</body>
</html>